*{
    margin: 0;
    padding: 0;
    
}

@mixin displayFlex($tipo,$justificado){
    display: flex;
    flex-direction: $tipo;
    justify-content: $justificado;
    
}

body{
    background-color: $colorNegro;
    color:$colorBlanco;
}

section{
    @include displayFlex(row,center);
    background-color: $colorNegro;
    margin-bottom: 20px;
    margin-top: 10px;
}

.mainClientes{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.imagen{
    width: 100%;
}


.particulares{
    width: 50%;
    @include displayFlex(column,none);
    align-items: center;
}

.grupales{
    @include displayFlex(column,center);
    align-items: center;
}

.imagenUbicacion{
    margin-bottom: 10px;
    width: 400px;
}

.opcionesUbi{
    padding: 5px;
    margin-top: 15px;
    p{
        font-size: 20px;
    }
}

.subt{
    font-size: 55px;
    padding-top: 30px;
    text-decoration: underline;
}

.lista, .subt1{
    font-size: 30px;
    text-align: center;
    list-style: none;
}

.lista{
    @include displayFlex(column,none);
    li{
        padding-bottom: 20px;
    }
}

.particulares .subt, .particulares .subt1{
    margin-bottom: 50px;
}

.subtitulos_clientes p{
    padding: 10px 40px;
}

.opcionesServicios {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 40px 15px 40px;
    img:hover, video:hover{
        transform: scale(0.9);
    }

}

video{
    height: 350px;
    width: 300px;
}

.videos {
    @include displayFlex(row,center);
    flex-wrap: wrap;
    width: 100%;
    div{
        padding: 20px 20px 0px 20px;
    }
}

.contenedorFormulario{
    @include displayFlex(row,center);
    margin-bottom: 10px;
}

form{
    width: 460px;
    padding: 50px;
    background-color: $colorBlanco;
    color: $colorNegro;
    @include displayFlex(row,center);
    flex-wrap: wrap;
    padding: 10px;
}

.rellenar{
    height: 30px;
    width: 100%;
    text-align: center;

}

textarea{
    height: 50px;
    width: 200px;
    text-align: center;
}

input,label,textarea{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.tituloFormulario{
    @extend .contenedorFormulario;
    flex-wrap: wrap;
    background-color: $colorNegro;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 10px;
}


footer{
    background-color: $colorNegro;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: $colorBlanco;
    p{
        text-decoration: underline;
    }
    a{
        padding: 20px 15px 0px 15px;
    }
}

.navPie a:hover{
    color: $colorBlanco;
}
