
//CSS de la hoja CURSOS para el curso de Javascript
.contenedorArticulo{
    flex-wrap: wrap;
    padding-left: 40px;
}
.loggeo{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        width: 500px;
    }
}
.boton_enviar{
    margin: 15px;
}

.articulo{
    height: 330px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#boton_añadir{
    height: 40px;
    width: 70px;
    margin-top: 15px;
    margin-right: 10px;
    align-self: flex-end;

}
.carrito{
    display: flex;
    justify-content: flex-end;

} 

.contenedorGral{
    display: flex;
    flex-direction: row;
}

#info_carrito{
    width: 30%; 
    background-color: black; 
    height: 1010px;
}

td{
    height: 100px;
}

.fondo_blanco{
    color: white; 

}

.primer_linea{
    div{
        margin-right: 15px;
    }
}
#clima{
    margin-top: 20px;
    height: 50px;
    width: 140px;
}
#boton_carrito{
    margin-top: 20px;
    height: 50px;
    width: 100px;
}
.img_curso{
    margin-bottom: 15px;
}