
//CSS de la hoja CURSOS para el curso de Javascript
.contenedorArticulo{
    flex-wrap: wrap;
}
.articulo{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.fotoprueba{
    background-color: rgb(255, 0, 0);
    height: 150px;
    width: 150px;

}

 

