
//CSS de la hoja CURSOS para el curso de Javascript
.contenedorArticulo{
    flex-wrap: wrap;
    padding-left: 40px;
}
.articulo{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fotoprueba{
    background-color: rgb(255, 0, 0);
    height: 150px;
    width: 150px;
    margin: 10px;
}
#boton_añadir{
    height: 40px;
    width: 70px;
    margin-top: 15px;
    margin-right: 10px;
    align-self: flex-end;

}
.carrito{
    display: flex;
    justify-content: flex-end;

} 

.contenedorGral{
    display: flex;
    flex-direction: row;
}

