nav{
    @include displayFlex(row,center);
    align-items: center; /* verticalmente */
    background-color: $colorBlanco;
    height: auto;
    padding-top: 10px;
    ul li{
        list-style-type: none;
        display: inline;
        font-size: 20px;
        padding-right: 20px;
    }
    
    a:hover{
        color: $colorNegro;
    }

}

a{
    font-size: 20px;
    text-decoration:dashed;
    color: $color-primario;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    &:hover{
        color: $color-primario;
        transform: scale(1.05);
        text-decoration: none;
    }
}

.info a{
    color: $colorBlanco;;
    padding-bottom: 10px;
    text-decoration: underline;
}
.opcionesIndex a{
    @extend .info;
}

//@each $clave, $valor in $colores {
//    .boton-$clave{
          //  backgrond-color: $valor;
//}
//}

//$colores:(prim:$color-primario, secun:$color-secun);