*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(236, 240, 241);
}

.mainIndex, .mainServicios{
    margin-top: 10px;
}


/*titulos*/
h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-size: 50px;
    padding-top: 10px;
}

h2{
    font-style: oblique;
}


/*navegacion*/
nav{
    display: flex;
    flex-direction: row;
    align-items: center; /* verticalmente */
    justify-content: center; /* horizontalmente */
    background-color: rgb(208, 211, 212);
    height: auto;
    padding-top: 10px;

}

a{
    font-size: 20px;
    text-decoration:dashed;
    color: blue;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}

.info a, .opcionesIndex a{
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    text-decoration: underline;
}

nav ul li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    padding-right: 20px;
}

/*css a etiquetas generales*/
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(208, 211, 212);
    margin-bottom: 20px;
    margin-top: 10px;
}


p{
    line-height: 25px;
    font-size: 18px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

footer{
    background-color: rgb(208, 211, 212);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer p{
    text-decoration: underline;
}

footer a{
    padding: 20px 15px 0px 15px;
}


.opcionesIndex{
    display: flex;
    flex-direction: column;
    padding:10px 20px 20px 20px;
}

.imagen{
    width: 100%;
}

/*.carousel-item{
    height: 500px;
    width: 1200px;
}*/

.particulares{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grupales{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagenUbicacion{
    margin-bottom: 10px;
    width: 400px;
}

.opcionesUbi{
    padding: 5px;
    margin-top: 15px;
}
.opcionesUbi p{
    font-size: 20px;
}


.subt{
    font-size: 55px;
    padding-top: 30px;
    text-decoration: underline;
}

.lista, .subt1{
    font-size: 30px;
    text-align: center;
    list-style: none;
}

.lista{
    display: flex;
    flex-direction: column;
}

.lista li{
    padding-bottom: 20px;
}


.grupales .subt {
    text-align: right;
}

.particulares .subt, .particulares .subt1{
    margin-bottom: 50px;
}

.opcionesServicios {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 40px 15px 40px;

}



video{
    height: 350px;
    width: 300px;
}

.mainClientes{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}
.videos div{
    padding: 20px 20px 0px 20px;
}


.subtitulos_clientes p{
    padding: 10px 40px;
}


.contenedorFormulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

form{

    height: 350px;
    width: 460px;
    padding: 50px;
    background-color: rgba(159, 181, 184, 0.226);
}


.rellenar{
    height: 30px;
    width: 200px;
    text-align: center;

}

textarea{
    height: 50px;
    width: 200px;
    text-align: center;
}

input,label,textarea{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.tituloFormulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(236, 240, 241);
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 10px;
}


form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

/*animaciones*/

a:hover{
    color: blue;
    transform: scale(1.05);
}

nav a:hover,.navPie a:hover{
    color: black;
}

img:hover, video:hover{
    transform: scale(0.9);
}

.carousel-item{
    height: 700px;
}

@keyframes visualizar{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2,h3{
    animation-duration: 3s;
    animation-name: visualizar;
}



/*media para las 5 hojas*/
@media (max-width: 576px ) {
    h1{
        font-size: 40px;
    }

    .opcionesIndex{
        align-items: center;
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .row nav{
        height: 200px;
    }

    .encabezadoServicios nav{
        padding-top: 15px;
    }

    .row ul{
        padding: 0%;
    }

    .opcionesServicios{
        display: flex;
        flex-direction: column-reverse; /*para que esté primero el texto y luego la foto.*/
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        
    }


    nav{
        height: 170px;

    }
    nav ul li{
        display: flex;
        flex-direction: column;
        padding:5px 0px 5px 0px;

    }
    .mainIndex p{
        padding: 0px 15px 0px 15px;
    }



    .particulares{
        width: 100%;
        flex-wrap: wrap;
    }

    .particulares .subt, .particulares .subt1{
        margin: 0px 0px 10px 0px;
        padding: 10px 0px 10px 0px;
        font-size: 30px;
    }

    .particulares h3, .grupales h3{
        font-size: 30px;
    }

    .particulares ul li{
        padding-bottom: 10px;
        font-size: 20px;
    }
    .mainUbi img{
        padding-bottom: 5px;
        padding-top: 5px;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        width: 350px;
        padding: 10px;
        background-color: rgba(159, 181, 184, 0.226);
    }

    textarea{
        height: 100px;
    }

    .button{
        display: flex;
        flex-direction: column;
    }

}