* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #6ac5e4;
  color: #000;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
}

.mainClientes {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.imagen {
  width: 100%;
}

.particulares {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}

.grupales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagenUbicacion {
  margin-bottom: 10px;
  width: 400px;
}

.opcionesUbi {
  padding: 5px;
  margin-top: 15px;
}

.opcionesUbi p {
  font-size: 20px;
}

.subt {
  font-size: 55px;
  padding-top: 30px;
  text-decoration: underline;
}

.lista, .subt1 {
  font-size: 30px;
  text-align: center;
  list-style: none;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: none;
}

.lista li {
  padding-bottom: 20px;
}

.particulares .subt, .particulares .subt1 {
  margin-bottom: 50px;
}

.subtitulos_clientes p {
  padding: 10px 40px;
}

.opcionesServicios {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px 40px 15px 40px;
}

.opcionesServicios img:hover, .opcionesServicios video:hover {
  transform: scale(0.9);
}

video {
  height: 350px;
  width: 300px;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.videos div {
  padding: 20px 20px 0px 20px;
}

.contenedorFormulario, .tituloFormulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

form {
  width: 460px;
  padding: 50px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.rellenar {
  height: 30px;
  width: 100%;
  text-align: center;
}

textarea {
  height: 50px;
  width: 200px;
  text-align: center;
}

input, label, textarea {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.tituloFormulario {
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 10px;
  margin-top: 10px;
}

footer {
  background-color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #000;
}

footer a {
  padding: 20px 15px 0px 15px;
}

.navPie {
  padding-bottom: 10px;
}

.navPie a:hover {
  color: #000;
}

.carousel {
  margin-bottom: 10px;
}

.pieIndex ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}

.pieIndex ul li {
  padding: 15px;
}

.pieIndex p {
  padding-top: 10px;
}

@keyframes visualizar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 40px;
  padding-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

h2 {
  font-style: oblique;
}

h2, h3 {
  animation-duration: 3s;
  animation-name: visualizar;
}

h5 a {
  color: #fff;
}

h5 a:hover {
  color: #000;
  transform: scale(1.05);
}

p {
  line-height: 25px;
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

.alineoIzq {
  text-align: left;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  padding-top: 10px;
  align-items: center;
  margin-bottom: 15px;
  height: auto;
}

nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  padding-right: 20px;
}

nav a:hover {
  color: #000;
}

a {
  font-size: 20px;
  text-decoration: dashed;
  color: blue;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

a:hover {
  color: blue;
  transform: scale(1.05);
  text-decoration: none;
}

.info a, .opcionesIndex a a {
  color: #fff;
  padding-bottom: 10px;
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  .mainIndex p {
    font-size: 16px;
  }
  .row nav {
    height: 200px;
  }
  .encabezadoServicios nav {
    padding-top: 15px;
  }
  .row ul {
    padding: 0%;
  }
  .opcionesServicios {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  .opcionesServicios p {
    font-size: 14px;
    text-align: center;
  }
  nav {
    height: 170px;
  }
  nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: none;
    padding: 5px 0px 5px 0px;
  }
  .mainIndex p {
    padding: 0px 15px 0px 15px;
  }
  .particulares {
    width: 100%;
    flex-wrap: wrap;
  }
  .particulares .subt, .particulares .subt1 {
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 30px;
  }
  .particulares h3, .grupales h3 {
    font-size: 30px;
  }
  .particulares ul li {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .mainUbi img {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 10px;
    background-color: white;
  }
  form div {
    justify-content: center;
    align-items: center;
  }
  textarea {
    height: 100px;
  }
  .button {
    display: flex;
    flex-direction: column;
    justify-content: none;
  }
  .carousel {
    margin-top: 20px;
    height: 300px;
  }
  .pieIndex {
    margin-top: 120px;
  }
  .pieIndex ul {
    flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */